<h1>New Artist</h1>

<%# <%= render 'artists/form' > %>

<%= form_for @artist , url:{action: "create"} do |f| %>

        <%= f.label :name, 'Name : ' %><br>
        <%= f.text_field :name %><br><br>

        <%= f.label :albums, 'Albums : ' %><br>
        <%= f.text_field :albums %><br><br>

        <%= f.label :hometwon, 'Home Town : ' %><br>
        <%= f.text_field :hometwon %><br><br>

        <%= f.label :img, 'Image :' %><br>
        <%= f.text_field :img  %><br><br>

        <%= f.submit " Save " %>

<% end %>